<header class="header">
    <a href="" class="header__logo">Admin NodeJs Blogs</a>
    <nav class="header__nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="header__search">        
        <button>Logout</button>
    </div>
</header>